:root {
    font-size: 16px;
    font-family: "Lato";
    text-align: justify;
    --default-black: #000;
    --default-white: #fff;
    --default-beige-light: #e9e6e1;
    --default-beige-dark: #afaca9;
    --default-purple-light: #a14a98;
    --default-purple-dark: #881d7d;
    --default-purple-dark50: #66165e;
    --default-yellow-light: #fcb040;
    --default-yellow-dark: #ed9527;
    --default-yellow-dark50: #b1701e;
    --default-red-light: #d23560;
    --default-red-dark: #c60238;
    --default-red-dark50: #95022a;
    --default-green-light: #00a5a6;
    --default-green-dark: #018790;
    --default-green-dark50: #00656c;
    --default-page-margin: max(5vw, 2.5rem);
}

body {
    margin: 0;
}

section {
    padding: var(--default-page-margin);
}

h1 {
    font-family: "Phudu";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

h2 {
    font-family: "Phudu";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2.5rem 0;
}

h3 {
    font-family: "Phudu";
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

p:last-child, p:only-child {
    margin: 0;
}

button, [type="button"] {
    --_font-size: 0.8rem;
    --_height: calc(var(--_font-size) * 2.25);
    --_diag-gradient-left: calc(var(--_height) * sqrt(2) / 2);
    --_diag-gradient-right: calc(100% - var(--_diag-gradient-left));
    --_bg-dark50: var(--bg-dark50, var(--default-purple-dark50));
    --_bg-dark: var(--bg-dark, var(--default-purple-dark));
    --_bg-light: var(--bg-light, var(--default-purple-light));
    display: inline-block;
    font-size: var(--_font-size);
    line-height: var(--_height);
    padding-inline: var(--_font-size);
    height: var(--_height);
    text-align: center;
    color: var(--default-white);
    background-color: var(--_bg-dark);
    background-image: linear-gradient(45deg,
        var(--_bg-light) var(--_diag-gradient-left),
        var(--_bg-dark) 0 var(--_diag-gradient-right),
        var(--_bg-light) var(--_diag-gradient-right));
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black);
    border: none;
    text-decoration: none;
}

button:hover, button:focus, [type="button"]:hover, [type="button"]:focus {
    background-image: linear-gradient(45deg,
        var(--_bg-dark) var(--_diag-gradient-left),
        var(--_bg-dark50) 0 var(--_diag-gradient-right),
        var(--_bg-dark) var(--_diag-gradient-right));
}

button:active, [type="button"]:active {
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black);
    outline: none;
}

a:not(.style-reset, [type="button"]) {
    --link-color: var(--default-purple-light);
    --link-active-color: var(--default-purple-dark);
    color: var(--link-color);
    text-decoration: none;
}

a:not(.style-reset, [type="button"])::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 1s;
}

a:not(.style-reset, [type="button"]):hover::before, a:not(.style-reset):focus::before {
    width: 100%;
}

a:not(.style-reset, [type="button"]):active {
    color: var(--link-active-color);
    outline: none;
}

.logo {
    --logo-color: var(--default-beige-light);
    --logo-shadow-color: var(--default-beige-dark);
    --logo-font-size: 1rem;
    --logo-size: calc(var(--logo-font-size) * 1.5);
    width: var(--logo-size);
    height: var(--logo-size);
    font-size: var(--logo-font-size);
    font-family: "Phudu";
    background-color: var(--logo-color);
    outline: 2px solid var(--logo-shadow-color);
    outline-offset: -2px;
    box-shadow: 1px 1px var(--logo-shadow-color),
        2px 2px var(--logo-shadow-color),
        3px 3px var(--logo-shadow-color),
        4px 4px var(--logo-shadow-color);
  }
  
  .logo::before, .logo::after {
    position: absolute;
    padding-left: 150%;
  }

  .logo::before {
    content: "Linh";
    color: var(--logo-color);
    font-weight: bold;
    top: -15%;
  }
  
  .logo::after {
    content: "tinkerer";
    color: var(--logo-shadow-color);
    font-size: calc(var(--logo-font-size) * 0.75);
    bottom: -20%;
  }
  
  .diagonal-slash {
    --slash-size: 1rem;
    --slash-color: var(--default-purple-light);
    display: inline-block;
    height: var(--slash-size);
    width: calc(var(--slash-size) / 8);
    margin-inline: calc(var(--slash-size) / 2);
    background-color: var(--slash-color);
    transform: skewX(45deg);
}

#navbar {
    --navbar-height: var(--default-page-margin);
    --navbar-height-half: calc(var(--navbar-height) / 2);
    background-color: var(--default-black);
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    position: relative;
    isolation: isolate;
}

#navbar-logo {
    position: absolute;
    left: var(--default-page-margin);
    top: calc((var(--navbar-height) - var(--logo-size)) * 0.4375);
    z-index: -1;
}

#navbar-links a {
    --link-color: var(--default-white);
    --link-active-color: var(--default-white);
    font-family: "Phudu";
    text-transform: uppercase;
    display: inline-block;
    line-height: var(--navbar-height);
    padding: 0;
    margin: 0 var(--navbar-height-half);
    text-decoration: none;
    position: relative;
    isolation: isolate;
}

#navbar-links a::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0 calc(var(--navbar-height-half) * -1);
    background-color: var(--bg-normal, var(--default-beige-light));
    transform: skewX(45deg);
}

#navbar-links a:active::after {
    background-color: var(--bg-dark, var(--default-beige-dark));
}

#navbar-links a::before {
    top: calc(50% + 0.75rem);
    transform: skewX(45deg);
}

#navbar-links a:hover::before, #navbar-links a:focus::before {
    width: calc(100% + var(--navbar-height-half));
}

#navbar-links a:nth-child(1) {
    --bg-normal: var(--default-purple-dark);
    --bg-dark: var(--default-purple-dark50);
}

#navbar-links a:nth-child(2) {
    --bg-normal: var(--default-red-dark);
    --bg-dark: var(--default-red-dark50);
}

#navbar-links a:nth-child(3) {
    --bg-normal: var(--default-yellow-dark);
    --bg-dark: var(--default-yellow-dark50);
}
#navbar-links a:nth-child(4) {
    --bg-normal: var(--default-green-dark);
    --bg-dark: var(--default-green-dark50);
}

#hero {
    background-color: var(--default-beige-light);
    display: grid;
    padding: 0;
}

#hero::before {
    content: "";
    grid-area: border;
    background-color: var(--default-white);
    border: 2px solid var(--default-black);
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black),
        5px 5px var(--default-black),
        6px 6px var(--default-black),
        7px 7px var(--default-black),
        8px 8px var(--default-black);
}

#hero-1 {
    grid-area: hero-1;
}

#hero-2 {
    grid-area: hero-2;
}

#hero-1, #hero-2 {
    display: grid;
    grid-template-rows: subgrid;
}

.hero-header {
    font-family: "Phudu";
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin: 0 0 1rem 0;
}

#hero-image {
    grid-area: hero-image;
    background-image: url("images/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hero:has(#hero-1:hover) #hero-image {
    background-image: url("images/hero-1.png");
}

#hero:has(#hero-2:hover) #hero-image {
    background-image: url("images/hero-2.png");
}

#hero::after {
    content: "";
    grid-row: bottom-border;
    grid-column: 1 / -1;
    background-color: var(--default-black);
    background-image: linear-gradient(45deg,
        transparent 60%,
        var(--default-purple-dark) 0 70%,
        var(--default-red-dark) 0 80%,
        var(--default-yellow-dark) 0 90%,
        var(--default-green-dark) 90%);
}

@media (max-width: 600px) {
    #hero {
        grid-template-columns: var(--default-page-margin) [border-start hero-image-start hero-1-start hero-2-start] 1fr [border-end hero-image-end hero-1-end hero-2-end] var(--default-page-margin);
        grid-template-rows: [hero-image-start] var(--default-page-margin) [border-start] clamp(250px, 50vw, 500px) [hero-image-end hero-1-start] auto auto [hero-1-end hero-2-start] auto auto [hero-2-end border-end] var(--default-page-margin) [bottom-border-start] 8px [bottom-border-end];
    }

    #hero-1 {
        padding: 1rem 2rem 2rem 2rem;
    }

    #hero-2 {
        padding: 0 2rem 2.5rem 2rem;
    }
}

@media (min-width: 600px) {
    #hero {
        grid-template-columns: var(--default-page-margin) [border-start hero-1-start] 1fr [hero-image-start] 1fr [hero-1-end hero-2-start] 1fr [hero-image-end] 1fr [hero-2-end border-end] var(--default-page-margin);
        grid-template-rows: [hero-image-start] var(--default-page-margin) [border-start] 33vw [hero-image-end hero-1-start hero-2-start] auto auto [hero-1-end hero-2-end border-end] var(--default-page-margin) [bottom-border-start] 8px [bottom-border-end];
    }

    #hero-1 {
        padding: 0.5rem 1.5rem 2rem 2rem;
    }

    #hero-2 {
        padding: 0.5rem 2rem 2rem 1.5rem;
    }
}

@media (min-width: 850px) {
    #hero {
        min-height: 33vw;
        grid-template-columns: var(--default-page-margin) [border-start hero-1-start] 1fr [hero-1-end hero-image-start] 33vw [hero-image-end hero-2-start] 1fr [hero-2-end border-end] var(--default-page-margin);
        grid-template-rows: [hero-image-start] var(--default-page-margin) [border-start hero-1-start hero-2-start] 1fr auto auto 1fr [hero-1-end hero-2-end border-end] var(--default-page-margin) [hero-image-end bottom-border-start] 8px [bottom-border-end];
    }

    #hero-1 {
        padding: 1rem 1rem 1rem 2rem;
    }

    #hero-2 {
        padding: 1rem 2rem 1rem 1rem;
    }

    #hero-1:before, #hero-1:after, #hero-2:before, #hero-2:after {
        content: "";
    }
}

.preheader {
    text-align: center;
    margin: 1rem 0 0.5rem;
}

.home-card-grid {
    --grid-gap-between: max(16px, 5vw);
    --grid-gap-within: 1rem;
    display: grid;
    place-content: center;
    gap: var(--grid-gap-within) var(--grid-gap-between);
}

.card {
    display: grid;
    grid-template-rows: subgrid;
    border: 2px solid var(--default-black);
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black),
        5px 5px var(--default-black),
        6px 6px var(--default-black),
        7px 7px var(--default-black),
        8px 8px var(--default-black);
    margin-bottom: calc(var(--grid-gap-between) - var(--grid-gap-within)); /*to add space between rows of cards when there are multiple rows*/
}

.card-icon {
    background-color: var(--default-beige-light);
    display: flex;
    place-content: center;
    padding: 1rem;
}

.card-icon img {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}

.card-title, .card-description {
    text-align: center;
    margin: 0;
    padding: 0 1rem;
}

.card-button {
    margin: 0.5rem 15% 1.5rem;
}

@media (min-width: 850px){
    .home-card-grid {
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, min(300px, 1fr));
    }
    .card {
        grid-row: span 4;
    }
}

@media (max-width: 500px) {
    .home-card-grid {
        grid-template-columns: min(300px, 1fr);
    }
    .card {
        grid-row: span 4;
    }
}

@media (min-width: 500px) and (max-width: 850px) {
    .home-card-grid {
        grid-auto-flow: unset;
        grid-template-columns: 12rem min(300px, 1fr);
        column-gap: 0;
    }

    .card {
        grid-row: span 5;
        grid-column: span 2;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
        grid-template-areas: 
            'image .'
            'image title'
            'image description'
            'image button'
            'image .';
        width: auto;
    }

    .card-icon {
        grid-area: image;
    }

    .card-title {
        grid-area: title;
    }

    .card-description {
        grid-area: description;
    }

    .card-button {
        grid-area: button;
        margin-bottom: 0.5rem;
    }
}

.display-button {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.banner {
    background-color: var(--default-beige-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .display-button {
    padding-inline: 2rem;
}

footer {
    background-color: var(--default-black);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-block: 0.5rem;
}

.update-indicator {
    color: var(--default-red-light);
}