:root {
    font-size: 16px;
    font-family: "Lato";
    text-align: justify;
    --default-black: #000;
    --default-white: #fff;
    --default-beige-light: #e9e6e1;
    --default-beige-dark: #afaca9;
    --default-purple-dark: #881d7d;
    --default-purple-dark50: #66165e;
    --default-yellow-dark: #ed9527;
    --default-yellow-dark50: #b1701e;
    --default-red-dark: #c60238;
    --default-red-dark50: #95022a;
    --default-green-dark: #018790;
    --default-green-dark50: #00656c;
    --default-page-margin: 5vw;
}

body {
    margin: 0;
}

h1 {
    font-family: "Phudu";
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

p:last-child, p:only-child {
    margin: 0;
}

#navbar {
    --navbar-height: var(--default-page-margin);
    --navbar-height-half: calc(var(--navbar-height) / 2);
    --navbar-height-diag: calc(var(--navbar-height-half) * 1.4142);
    --navbar-height-diag-half: calc(var(--navbar-height-diag) / 2);
    background-color: var(--default-black);
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

#navbar-links a {
    --_bg-start: var(--bg-start, var(--default-beige-light));
    --_bg-main: var(--bg-main, var(--default-beige-dark));
    --_bg-end: var(--bg-end, var(--default-beige-light));
    color: var(--default-white);
    font-family: "Phudu";
    text-transform: uppercase;
    display: inline-block;
    line-height: var(--navbar-height);
    padding: 0 var(--navbar-height-half);
    text-decoration: none;
    background: linear-gradient(45deg,
        var(--_bg-start) var(--navbar-height-diag-half),
        var(--_bg-main) var(--navbar-height-diag-half),
        var(--_bg-main) calc(100% - var(--navbar-height-diag-half)),
        var(--_bg-end) calc(100% - var(--navbar-height-diag-half)));
}

#navbar-links a:hover, #navbar-links a:focus {
    text-shadow: 0.5px 0.5px var(--default-black),
        1px 1px var(--default-black);
}

#navbar-links a:first-child {
    padding-left: var(--navbar-height);
    --bg-start: transparent;
    --bg-main: var(--default-green-dark);
    --bg-end: var(--default-yellow-dark);
    background: linear-gradient(45deg,
        /*var(--_bg-start) var(--navbar-height-diag),
        var(--_bg-main) var(--navbar-height-diag),*/
        var(--_bg-main) calc(100% - var(--navbar-height-diag-half)),
        var(--_bg-end) calc(100% - var(--navbar-height-diag-half)));
}

#navbar-links a:first-child:active {
    --bg-main: var(--default-green-dark50);
}

#navbar-links a:nth-child(2) {
    --bg-start: var(--default-green-dark);
    --bg-main: var(--default-yellow-dark);
    --bg-end: var(--default-red-dark);
}

#navbar-links a:nth-child(2):active {
    --bg-main: var(--default-yellow-dark50);
}

#navbar-links a:nth-child(3) {
    --bg-start: var(--default-yellow-dark);
    --bg-main: var(--default-red-dark);
    --bg-end: var(--default-purple-dark);
}

#navbar-links a:nth-child(3):active {
    --bg-main: var(--default-red-dark50);
}

#navbar-links a:nth-child(4) {
    padding-right: var(--navbar-height);
    --bg-start: var(--default-red-dark);
    --bg-main: var(--default-purple-dark);
    --bg-end: transparent;
    background: linear-gradient(45deg,
        var(--_bg-start) var(--navbar-height-diag-half),
        var(--_bg-main) var(--navbar-height-diag-half),
        var(--_bg-main) calc(100% - var(--navbar-height-diag)),
        var(--_bg-end) calc(100% - var(--navbar-height-diag)));
}

#navbar-links a:nth-child(4):active {
    --bg-main: var(--default-purple-dark50);
}

#hero {
    background-color: var(--default-beige-light);
    min-height: 33vw;
    display: grid;
    grid-template-columns: var(--default-page-margin) [border-start hero-1-start] 1fr [hero-1-end hero-image-start] 33vw [hero-image-end hero-2-start] 1fr [hero-2-end border-end] var(--default-page-margin);
    grid-template-rows: [hero-image-start] var(--default-page-margin) [border-start hero-1-start hero-2-start] 1fr auto auto 1fr [hero-1-end hero-2-end border-end] var(--default-page-margin) [hero-image-end] 8px;
}

#hero::before {
    content: "";
    grid-area: border;
    background-color: var(--default-white);
    border: 2px solid var(--default-black);
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black),
        5px 5px var(--default-black),
        6px 6px var(--default-black),
        7px 7px var(--default-black),
        8px 8px var(--default-black);
}

#hero-image {
    grid-area: hero-image;
    background-image: url("images/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-1 {
    grid-area: hero-1;
    padding: 1rem 1rem 1rem 2rem;
}

#hero-2 {
    grid-area: hero-2;
    padding: 1rem 2rem 1rem 1rem;
}

#hero-1, #hero-2 {
    display: grid;
    grid-template-rows: subgrid;
}

#hero-1:before, #hero-1:after, #hero-2:before, #hero-2:after {
    content: "";
}

.hero-header {
    width: 100%;
    font-family: "Phudu";
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    font-weight: bold;
    text-align: left;
    margin: 0 0 1rem 0;
}

#hero::after {
    content: "";
    grid-column: 1 / -1;
    background: linear-gradient(45deg,
        var(--default-black) 60%,
        var(--default-green-dark) 60%,
        var(--default-green-dark) 70%,
        var(--default-yellow-dark) 70%,
        var(--default-yellow-dark) 80%,
        var(--default-red-dark) 80%,
        var(--default-red-dark) 90%,
        var(--default-purple-dark) 90%);
}

.update-indicator {
    color: purple;
}