:root {
    font-size: 16px;
    font-family: "Lato";
    text-align: justify;
    --default-black: #000;
    --default-white: #fff;
    --default-beige-light: #e9e6e1;
    --default-beige-dark: #afaca9;
    --default-purple-light: #a14a98;
    --default-purple-dark: #881d7d;
    --default-purple-dark50: #66165e;
    --defalt-yellow-light: #fcb040;
    --default-yellow-dark: #ed9527;
    --default-yellow-dark50: #b1701e;
    --defaul-red-light: #d23560;
    --default-red-dark: #c60238;
    --default-red-dark50: #95022a;
    --default-green-light: #00a5a6;
    --default-green-dark: #018790;
    --default-green-dark50: #00656c;
    --default-page-margin: 5vw;
}

body {
    margin: 0;
}

section {
    padding: var(--default-page-margin);
}

h1 {
    font-family: "Phudu";
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

h2 {
    font-family: "Phudu";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2.5rem 0;
}

h3 {
    font-family: "Phudu";
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

p:last-child, p:only-child {
    margin: 0;
}

button, a[type="button"] {
    --_font-size: 0.8rem;
    --_height: calc(var(--_font-size) * 2.25);
    --_diag-gradient-left: calc(var(--_height) * sqrt(2) / 2);
    --_diag-gradient-right: calc(100% - var(--_diag-gradient-left));
    --_bg-main: var(--bg-main, var(--default-purple-dark));
    --_bg-corners: var(--bg-corners, var(--default-purple-light));
    display: inline-block;
    color: var(--default-white);
    font-size: var(--_font-size);
    line-height: var(--_height);
    padding-inline: var(--_font-size);
    height: var(--_height);
    text-align: center;
    text-decoration: none;
    background: linear-gradient(45deg,
        var(--_bg-corners) var(--_diag-gradient-left),
        var(--_bg-main) var(--_diag-gradient-left),
        var(--_bg-main) var(--_diag-gradient-right),
        var(--_bg-corners) var(--_diag-gradient-right));
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black);
    border: none;
}

button:hover, button:focus, a[type="button"]:hover, a[type="button"]:focus {
    --_bg-main: var(--bg-main, var(--default-purple-dark50));
    --_bg-corners: var(--bg-corners, var(--default-purple-dark));
    outline: none;
}

button:active, a[type="button"]:active {
    background: var(--default-purple-dark50);
}

#navbar {
    --navbar-height: var(--default-page-margin);
    --navbar-height-half: calc(var(--navbar-height) / 2);
    background-color: var(--default-black);
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

#navbar-links a {
    font-family: "Phudu";
    text-transform: uppercase;
    display: inline-block;
    line-height: var(--navbar-height);
    padding: 0;
    margin: 0 var(--navbar-height-half);
    color: var(--default-white);
    text-decoration: none;
    position: relative;
    isolation: isolate;
}

#navbar-links a::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0 calc(var(--navbar-height-half) * -1);
    background-color: var(--bg-normal, var(--default-beige-light));
    transform: skewX(45deg);
}

#navbar-links a:hover, #navbar-links a:focus {
    text-shadow: 0.5px 0.5px var(--default-black),
        1px 1px var(--default-black);
    outline: none;
}

#navbar-links a:active::after {
    background-color: var(--bg-active, var(--default-beige-dark));
}

#navbar-links a:nth-child(1) {
    --bg-normal: var(--default-green-dark);
    --bg-active: var(--default-green-dark50);
    margin-left: var(--navbar-height);
}

#navbar-links a:nth-child(1)::before {
    content: "";
    position: absolute;
    inset: 0 0 0 calc(var(--navbar-height) * -1);
    z-index: -1;
    background-color: var(--bg-normal, var(--default-beige-light));
}

#navbar-links a:nth-child(1):active::before {
    background-color: var(--bg-active, var(--default-beige-dark));
}

#navbar-links a:nth-child(2) {
    --bg-normal: var(--default-yellow-dark);
    --bg-active: var(--default-yellow-dark50);
}

#navbar-links a:nth-child(3) {
    --bg-normal: var(--default-red-dark);
    --bg-active: var(--default-red-dark50);
}
#navbar-links a:nth-child(4) {
    --bg-normal: var(--default-purple-dark);
    --bg-active: var(--default-purple-dark50);
}
#hero {
    background-color: var(--default-beige-light);
    min-height: 33vw;
    display: grid;
    grid-template-columns: var(--default-page-margin) [border-start hero-1-start] 1fr [hero-1-end hero-image-start] 33vw [hero-image-end hero-2-start] 1fr [hero-2-end border-end] var(--default-page-margin);
    grid-template-rows: [hero-image-start] var(--default-page-margin) [border-start hero-1-start hero-2-start] 1fr auto auto 1fr [hero-1-end hero-2-end border-end] var(--default-page-margin) [hero-image-end] 8px;
    padding: 0;
}

#hero::before {
    content: "";
    grid-area: border;
    background-color: var(--default-white);
    border: 2px solid var(--default-black);
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black),
        5px 5px var(--default-black),
        6px 6px var(--default-black),
        7px 7px var(--default-black),
        8px 8px var(--default-black);
}

#hero-1 {
    grid-area: hero-1;
    padding: 1rem 1rem 1rem 2rem;
}

#hero-2 {
    grid-area: hero-2;
    padding: 1rem 2rem 1rem 1rem;
}

#hero-1, #hero-2 {
    display: grid;
    grid-template-rows: subgrid;
}

#hero-1:before, #hero-1:after, #hero-2:before, #hero-2:after {
    content: "";
}

.hero-header {
    width: 100%;
    font-family: "Phudu";
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    font-weight: bold;
    text-align: left;
    margin: 0 0 1rem 0;
}

#hero-image {
    grid-area: hero-image;
    background-image: url("images/hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#hero:has(#hero-1:hover) #hero-image {
    background-image: url("images/hero-1.png");
}

#hero:has(#hero-2:hover) #hero-image {
    background-image: url("images/hero-2.png");
}

#hero::after {
    content: "";
    grid-column: 1 / -1;
    background: linear-gradient(45deg,
        var(--default-black) 60%,
        var(--default-green-dark) 60%,
        var(--default-green-dark) 70%,
        var(--default-yellow-dark) 70%,
        var(--default-yellow-dark) 80%,
        var(--default-red-dark) 80%,
        var(--default-red-dark) 90%,
        var(--default-purple-dark) 90%);
}

.preheader {
    text-align: center;
    margin-bottom: 0.5rem;
}

.home-card-grid {
    --grid-gap-between: max(16px, 5vw);
    --grid-gap-within: 1rem;
    display: grid;
    place-content: center;
    gap: var(--grid-gap-within) var(--grid-gap-between);
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
}

.card {
    grid-row: span 4;
    display: grid;
    grid-template-rows: subgrid;
    border: 2px solid var(--default-black);
    box-shadow: 1px 1px var(--default-black),
        2px 2px var(--default-black),
        3px 3px var(--default-black),
        4px 4px var(--default-black),
        5px 5px var(--default-black),
        6px 6px var(--default-black),
        7px 7px var(--default-black),
        8px 8px var(--default-black);
    max-width: 250px;
    margin-bottom: calc(var(--grid-gap-between) - var(--grid-gap-within)); /*to add space between rows of cards when there are multiple rows*/
}

.card-icon {
    background-color: var(--default-beige-light);
    display: flex;
    place-content: center;
    padding: 1rem;
}

.card-icon img {
    max-width: 100%;
}

.card-title, .card-description {
    text-align: center;
    margin: 0;
    padding: 0 1rem;
}

.card-button {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0 15% 1.5rem;
}

.update-indicator {
    color: orchid;
}